*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    max-width: 700px;
    height: 500px;
    width: 100%;
    border: 2px dashed white;
    text-align: center;
