*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    max-width: 700px;
    height: 500px;
    width: 100%;
    border: 2px dashed white;
    text-align: center;
    position: relative;
    overflow: hidden;
}


.text{
    margin-bottom: 25px;
    color: aliceblue;
}

input{
    display: none;
}

.upload{
    background: aliceblue;
    padding: 8px 20px;
    transition: 0.4s ease;
    cursor: pointer;
}

.upload:hover{
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}

.img img{
    width: 99%;
    height: 99%;
    object-fit: cover;
    position: absolute;
